
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 mb-4">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let f of fruits">{{f}}</li>
            </ul>
        </div>
        <div class="col-md-4 mb-4">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let c of colors">{{c}}</li>
            </ul>
        </div>
        <div class="col-md-4 mb-4">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let s of scores">{{s}}</li>
            </ul>
        </div>
        <div class="col-md-4 mb-4">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let r of roles">{{r}}</li>
            </ul>
        </div>
        <div class="col-md-4 mb-4">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let a of alerts">{{a}}</li>
            </ul>
        </div>
        <div class="col-md-4 mb-4">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let s of statuses">{{s}}</li>
            </ul>
        </div>
        <div class="col-md-4 mb-4">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let m of months">{{m}}</li>
            </ul>
        </div>
        <div class="col-md-4 mb-4">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let e of events1">{{e}}</li>
            </ul>
        </div>
        <div class="col-md-4 mb-4">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let s of skills">{{s}}</li>
            </ul>
        </div>
        <div class="col-md-4 mb-4">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let c of courses1">{{c}}</li>
            </ul>
        </div>
        <div class="col-md-4 mb-4">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let n of numbers">{{n}}</li>
            </ul>
        </div>
        <div class="col-md-4 mb-4">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let c of cities">{{c}}</li>
            </ul>
        </div>
         <div class="col-md-4 mb-4">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let l of languages">{{l}}</li>
            </ul>
        </div>
        <div class="col-md-4 mb-4">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let c of countries">{{c}}</li>
            </ul>
        </div>
        <div class="col-md-4 mb-4">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let h of hobbies">{{h}}</li>
            </ul>
        </div>
        <div class="col-md-4 mb-4">
            <table class="table table-bordered">
             <thead>
                 <tr>
                     <th>Sr.no</th>
                     <th>Title</th>
                     <th>Completed</th>
                 </tr>
             </thead>
             <tbody>
                 <tr *ngFor="let t of tasks, index as i">
                     <td>{{i + 1}}</td>
                     <td>{{t.task}}</td>
                     <td>{{t.completed}}</td>
                 </tr>
             </tbody>
            </table>
         </div>
         <div class="col-md-4 mb-4">
            <table class="table table-bordered">
             <thead>
                 <tr>
                     <th>Sr.no</th>
                     <th>Title</th>
                 </tr>
             </thead>
             <tbody>
                 <tr *ngFor="let b of books1, index as i">
                     <td>{{i + 1}}</td>
                     <td>{{b.title}}</td>
                 </tr>
             </tbody>
            </table>
         </div>
         <div class="col-md-4 mb-4">
            <table class="table table-bordered">
             <thead>
                 <tr>
                     <th>Sr.no</th>
                     <th>Name</th>
                     <th>Dept</th>
                 </tr>
             </thead>
             <tbody>
                 <tr *ngFor="let e of employees1, index as i">
                     <td>{{i + 1}}</td>
                     <td>{{e.name}}</td>
                     <td>{{e.dept}}</td>
                 </tr>
             </tbody>
            </table>
         </div>
         <div class="col-md-4 mb-4">
            <table class="table table-bordered">
             <thead>
                 <tr>
                     <th>Sr.no</th>
                     <th>Item</th>
                     <th>OrderId</th>
                 </tr>
             </thead>
             <tbody>
                 <tr *ngFor="let o of orders1, index as i">
                     <td>{{i + 1}}</td>
                     <td>{{o.item}}</td>
                     <td>{{o.orderId}}</td>
                 </tr>
             </tbody>
            </table>
         </div>
         <div class="col-md-4 mb-4">
            <table class="table table-bordered">
             <thead>
                 <tr>
                     <th>Sr.no</th>
                     <th>Destination</th>
                     <th>FlightId</th>
                 </tr>
             </thead>
             <tbody>
                 <tr *ngFor="let f of flights1, index as i">
                     <td>{{i + 1}}</td>
                     <td>{{f.destination}}</td>
                     <td>{{f.flightNo}}</td>
                 </tr>
             </tbody>
            </table>
         </div>
         <div class="col-md-4 mb-4">
            <table class="table table-bordered">
             <thead>
                 <tr>
                     <th>Sr.no</th>
                     <th>Category</th>
                     <th>Amount</th>
                 </tr>
             </thead>
             <tbody>
                 <tr *ngFor="let e of expenses, index as i">
                     <td>{{i + 1}}</td>
                     <td>{{e.category}}</td>
                     <td>{{e.amount}}</td>
                 </tr>
             </tbody>
            </table>
         </div>
         <div class="col-md-4 mb-4">
            <table class="table table-bordered">
             <thead>
                 <tr>
                     <th>Sr.no</th>
                     <th>Name</th>
                     <th>Age</th>
                 </tr>
             </thead>
             <tbody>
                 <tr *ngFor="let s of students1, index as i">
                     <td>{{i + 1}}</td>
                     <td>{{s.name}}</td>
                     <td>{{s.age}}</td>
                 </tr>
             </tbody>
            </table>
         </div>
         <div class="col-md-4 mb-4">
             <table class="table table-bordered">
              <thead>
                  <tr>
                      <th>Sr.no</th>
                      <th>Name</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let p of products2">
                      <td>{{p.id}}</td>
                      <td>{{p.name}}</td>
                  </tr>
              </tbody>
             </table>
          </div>
          <div class="col-md-4 mb-4">
             <table class="table table-bordered">
              <thead>
                  <tr>
                      <th>Sr.no</th>
                      <th>UserName</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let u of users, index as i">
                      <td>{{i + 1}}</td>
                      <td>{{u.username}}</td>
                  </tr>
              </tbody>
             </table>
          </div>


          <div class="col-md-6 mb-4">
            <table class="table table-bordered">
             <thead>
                 <tr>
                     <th>Sr.no</th>
                     <th>Name</th>
                     <th>Category</th>
                     <th>Price</th>
                 </tr>
             </thead>
             <tbody>
                 <tr *ngFor="let p of products, index as i">
                     <td>{{i + 1}}</td>
                     <td>{{p.name}}</td>
                     <td>{{p.category}}</td>
                     <td>{{p.price}}</td>
                 </tr>
             </tbody>
            </table>
         </div>
         <div class="col-md-6 mb-4">
            <table class="table table-bordered">
             <thead>
                 <tr>
                     <th>Sr.no</th>
                     <th>Name</th>
                     <th>Department</th>
                     <th>Experience</th>
                 </tr>
             </thead>
             <tbody>
                 <tr *ngFor="let e of employees, index as i">
                     <td>{{i + 1}}</td>
                     <td>{{e.name}}</td>
                     <td>{{e.department}}</td>
                     <td>{{e.experience}}</td>
                 </tr>
             </tbody>
            </table>
         </div>
         <div class="col-md-6 mb-4">
            <table class="table table-bordered">
             <thead>
                 <tr>
                     <th>Sr.no</th>
                     <th>Name</th>
                     <th>Subjects</th>
                     <th>Grades</th>
                 </tr>
             </thead>
             <tbody>
                 <tr *ngFor="let s of students, index as i">
                     <td>{{i + 1}}</td>
                     <td>{{s.name}}</td>
                     <td>{{s.subjects}}</td>
                     <td>{{s.grades}}</td>
                 </tr>
             </tbody>
            </table>
         </div>
         <div class="col-md-6 mb-4">
            <table class="table table-bordered">
             <thead>
                 <tr>
                     <th>teamId</th>
                     <th>project</th>
                     <th>members</th>
                 </tr>
             </thead>
             <tbody>
                 <tr *ngFor="let t of teams">
                     <td>{{t.teamId}}</td>
                     <td>{{t.project}}</td>
                     <td>{{t.members}}</td>
                 </tr>
             </tbody>
            </table>
         </div>
         <div class="col-md-6 mb-4">
            <table class="table table-bordered">
             <thead>
                 <tr>
                     <th>Sr.no</th>
                     <th>Name</th>
                     <th>subcategories</th>
                 </tr>
             </thead>
             <tbody>
                 <tr *ngFor="let c of categories, index as i">
                     <td>{{i + 1}}</td>
                     <td>{{c.name}}</td>
                     <td>{{c.subcategories}}</td>
                 </tr>
             </tbody>
            </table>
         </div>
         <div class="col-md-6 mb-4">
            <table class="table table-bordered">
             <thead>
                 <tr>
                     <th>Sr.no</th>
                     <th>Title</th>
                     <th>Author</th>
                     <th>Genre</th>
                 </tr>
             </thead>
             <tbody>
                 <tr *ngFor="let s of books, index as i">
                     <td>{{i + 1}}</td>
                     <td>{{s.title}}</td>
                     <td>{{s.author}}</td>
                     <td>{{s.genre}}</td>
                 </tr>
             </tbody>
            </table>
         </div>
         <div class="col-md-6 mb-4">
            <table class="table table-bordered">
             <thead>
                 <tr>
                     <th>Sr.no</th>
                     <th>Title</th>
                     <th>Rating</th>
                     <th>Duration</th>
                 </tr>
             </thead>
             <tbody>
                 <tr *ngFor="let m of movies, index as i">
                     <td>{{i + 1}}</td>
                     <td>{{m.title}}</td>
                     <td>{{m.rating}}</td>
                     <td>{{m.duration}}</td>
                 </tr>
             </tbody>
            </table>
         </div>
         <div class="col-md-6 mb-4">
            <table class="table table-bordered">
             <thead>
                 <tr>
                     <th>Sr.no</th>
                     <th>Day</th>
                     <th>Activities</th>
                 </tr>
             </thead>
             <tbody>
                 <tr *ngFor="let w of workoutPlans, index as i">
                     <td>{{i + 1}}</td>
                     <td>{{w.day}}</td>
                     <td>{{w.activities}}</td>
                 </tr>
             </tbody>
            </table>
         </div>
         <div class="col-md-6 mb-4">
            <table class="table table-bordered">
             <thead>
                 <tr>
                     <th>Sr.no</th>
                     <th>Evenet</th>
                     <th>Attendees</th>
                 </tr>
             </thead>
             <tbody>
                 <tr *ngFor="let e of events, index as i">
                     <td>{{i + 1}}</td>
                     <td>{{e.event}}</td>
                     <td>{{e.attendees}}</td>
                 </tr>
             </tbody>
            </table>
         </div>
         <div class="col-md-6 mb-4">
            <table class="table table-bordered">
             <thead>
                 <tr>
                     <th>Order.Id</th>
                     <th>products</th>
                 </tr>
             </thead>
             <tbody>
                 <tr *ngFor="let o of orders">
                     <td>{{o.orderId}}</td>
                     <td *ngFor="let p of products"><strong>Name:</strong> {{p.name}}, <strong>QTY:</strong> {{p.name}}</td>
                 </tr>
             </tbody>
            </table>
         </div>
         <div class="col-md-6 mb-4">
            <table class="table table-bordered">
             <thead>
                 <tr>
                     <th>Sr.no</th>
                     <th>Name</th>
                     <th>phone</th>
                     <th>company</th>
                 </tr>
             </thead>
             <tbody>
                 <tr *ngFor="let c of clients, index as i">
                     <td>{{i + 1}}</td>
                     <td>{{c.name}}</td>
                     <td>{{c.phone}}</td>
                     <td>{{c.company}}</td>
                 </tr>
             </tbody>
            </table>
         </div>
         <div class="col-md-6 mb-4">
            <table class="table table-bordered">
             <thead>
                 <tr>
                     <th>Sr.no</th>
                     <th>Name</th>
                     <th>location</th>
                     <th>rating</th>
                 </tr>
             </thead>
             <tbody>
                 <tr *ngFor="let c of suppliers, index as i">
                     <td>{{i + 1}}</td>
                     <td>{{c.name}}</td>
                     <td>{{c.location}}</td>
                     <td>{{c.rating}}</td>
                 </tr>
             </tbody>
            </table>
         </div>
         <div class="col-md-6 mb-4">
            <table class="table table-bordered">
             <thead>
                 <tr>
                     <th>Sr.no</th>
                     <th>Name</th>
                     <th>Menus</th>
                 </tr>
             </thead>
             <tbody>
                 <tr *ngFor="let r of restaurants, index as i">
                     <td>{{i + 1}}</td>
                     <td>{{r.name}}</td>
                     <td>{{r.menus}}</td>
                 </tr>
             </tbody>
            </table>
         </div>
         <div class="col-md-6 mb-4">
            <table class="table table-bordered">
             <thead>
                 <tr>
                     <th>Sr.no</th>
                     <th>department</th>
                     <th>manager</th>
                     <th>employees</th>
                 </tr>
             </thead>
             <tbody>
                 <tr *ngFor="let d of departments, index as i">
                     <td>{{i + 1}}</td>
                     <td>{{d.department}}</td>
                     <td>{{d.manager}}</td>
                     <td>{{d.employees}}</td>
                 </tr>
             </tbody>
            </table>
         </div>
         <div class="col-md-6 mb-4">
            <table class="table table-bordered">
             <thead>
                 <tr>
                     <th>Sr.no</th>
                     <th>Amount</th>
                     <th>Date</th>
                     <th>Status</th>
                 </tr>
             </thead>
             <tbody>
                 <tr *ngFor="let t of transactions, index as i">
                     <td>{{i + 1}}</td>
                     <td>{{t.amount}}</td>
                     <td>{{t.date}}</td>
                     <td>{{t.status}}</td>
                 </tr>
             </tbody>
            </table>
         </div>
         <div class="col-md-6 mb-4">
            <table class="table table-bordered">
             <thead>
                 <tr>
                     <th>Sr.no</th>
                     <th>Title</th>
                     <th>Instructor</th>
                     <th>Hours</th>
                 </tr>
             </thead>
             <tbody>
                 <tr *ngFor="let c of courses, index as i">
                     <td>{{i + 1}}</td>
                     <td>{{c.title}}</td>
                     <td>{{c.instructor}}</td>
                     <td>{{c.hours}}</td>
                 </tr>
             </tbody>
            </table>
         </div>
         <div class="col-md-6 mb-4">
            <table class="table table-bordered">
             <thead>
                 <tr>
                     <th>Sr.no</th>
                     <th>Name</th>
                     <th>Species</th>
                     <th>Age</th>
                 </tr>
             </thead>
             <tbody>
                 <tr *ngFor="let p of pets, index as i">
                     <td>{{i + 1}}</td>
                     <td>{{p.name}}</td>
                     <td>{{p.species}}</td>
                     <td>{{p.age}}</td>
                 </tr>
             </tbody>
            </table>
         </div>
         <div class="col-md-6 mb-4">
            <table class="table table-bordered">
             <thead>
                 <tr>
                     <th>Sr.no</th>
                     <th>From</th>
                     <th>To</th>
                     <th>Duration</th>
                 </tr>
             </thead>
             <tbody>
                 <tr *ngFor="let f of flights, index as i">
                     <td>{{i + 1}}</td>
                     <td>{{f.from}}</td>
                     <td>{{f.to}}</td>
                     <td>{{f.duration}}</td>
                 </tr>
             </tbody>
            </table>
         </div>
    </div>
</div>